.page_result {
  padding: 0 0 4.3em;

  &__body {
    padding: 1.05em .9em 0;
    color: #fff
  }

  &__charts {
    display: flex;
  }

  &__chart {
    width: calc(100%/3);
    padding: 0 .25em;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: .55em;
      height: .55em;
      border: .05em solid #fff;
      border-radius: 50%;
    }
    &_active {
      &:before {
        border-color: #fff;
        color: #fff;
      }
      &:after {
        content: '';
        position: absolute;
        top: .15em;
        left: .15em;
        width: .25em;
        height: .25em;
        background: #fff;
        border-radius: 50%;
      }
    }
  }

  .chart {
    width: 100%;
    max-width: 87px;
    margin: 0 auto;
  }

  &__orientation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 81%;
    margin-top: .8em;
    padding-left: 1.9em;
    position: relative;

    .switcher {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-text {
      display: block;
      margin-bottom: .2em;
      font-size: .7em;
      font-weight: 300;
      color: #fff;
    }

    .linebar {
      margin-top: .8em;
    }

  }

  &__linebars {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    transition: 1s max-height;
    &_hidden {
      max-height: 0;
      transition-duration: .5s;
    }
  }

}