.page_loading {
  padding: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(153.87deg, rgba(108, 35, 200, 0.45) -2.21%, rgba(13, 64, 197, 0.45) -2.2%, rgba(239, 89, 179, 0.45) 106.38%);
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto auto 0;
    padding-bottom: 2.3em;
    position: relative;
  }

  &__icon {
    max-width: 100px;
  }

  &__heading {
    max-width: 240px;
    margin: 0;
    font-weight: 500;
    line-height: 1.3;
    font-size: 1em;
  }

  &__subheading {
    max-width: 240px;
    margin: .5em 0 0;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1em;
  }

}