.back-arrow {
  width: .6em;
  height: 1.05em;
  padding: 0;
  border: none;
  background: transparent;
  position: absolute;
  z-index: 100;
  top: 1.3em;
  left: .9em;
  svg {
    width: 100%;
  }
}