.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8.4em;
  min-height: 3.35em;
  padding: .4em 2em;
  background: #00C6AE;
  box-shadow: 0px -.1em .1em rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;

  &:focus {
    outline: none;
    box-shadow: none;
  }

}