.button {
  position: absolute;
  bottom: .95em;
  left: 50%;
  width: calc(100% - 1.6em);
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 8.4em;
  min-height: 2.75em;
  padding: .4em 2em;
  border-radius: 1.4em;
  background: #00C6AE;
  box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &__notice {
    width: 100%;
    position: absolute;
    bottom: calc(100% + .1em);
    margin-bottom: .6em;
    font-size: .8em;
    font-weight: 300;
    text-transform: none;
    &:empty {
      position: absolute;
    }
  }

}