$main-color: #1e87f0;


$color-primary:  #3bb6d0;
$color-secondary: #c03077;

@mixin transition-standard($time) {
  -webkit-transition: $time all linear;
  -moz-transition: $time all linear;
  -ms-transition: $time all linear;
  -o-transition: $time all linear;
  transition: $time all linear;
}


body {
  padding-bottom: 60px;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
}

[data-page] {
  display: none;
}

.screen1 {
  display: block;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: $main-color;
  font-family: sans-serif;
  color: #fff;
  white-space: nowrap;
  &:hover {
    background-color: #0f7ae5;
  }
}

.form {
  &__photo {
    display: block;
    margin: 2em auto 0;
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    border: 4px dashed $main-color;
    border-radius: 10%;
    background: url("../img/form__placeholder.png") no-repeat center bottom / contain;
    position: relative;
    &_filled {
      border-style: solid;
    }
  }

  &__add-btn {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
  }

  &__submit-btn {
    display: block;
    margin: 2em auto 0;
    &[disabled] {
      cursor: not-allowed;
      background-color: grey !important;
    }
  }

  &__img-input {
    display: none;
  }
}

.footer {max-height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
}

.block6 {
  padding: 75px 0 100px;
  background: #fff;

  &__template {
    display: none;
  }
  &__videos {
    display: block;
    width: 100%;
    margin: 0 0 138px;
    padding: 0 20px;
    text-align: center;
    font-size: 0;
    &-play-btn {
      display: none;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 51px;
      height: 51px;
      background: url("../photodna/img/block6__play-btn.png") no-repeat center center;
      background-size: cover;
      cursor: pointer;
      border-radius: 50%;
    }
    &-item {
      display: inline-block;
      position: relative;
      width: 275px;
      height: 174px;
      padding: 0 15px;
      &-banner {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:not(.played) {
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 15px;
          width: calc(100% - 30px);
          height: 100%;
          background: transparent;
        }
        .block6__videos-play-btn {
          display: block;
        }
      }
    }
  }
  h1 {
    padding-bottom: 78px;
  }
  &__split {
    display: table;
    width: 100%;
    margin-top: 46px;
  }
  &__graphics {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    font-size: 0;
    padding: 70px 49px 0 0;
    text-align: center;
  }
  &__right {
    display: table-cell;
    vertical-align: top;
    min-width: 293px;
  }
  &__text-block {
    padding: 14px 30px 37px;
    font-size: 0.8125em;
    font-weight: 300;
    color: #2c2c2c;
    line-height: 1.65;
    border-radius: 3px;
    box-shadow: 0 0 13px #e1e1e1;
    strong, b {
      font-weight: bold;
    }
  }
  &__brands {
    font-size: 0;
    margin: 21px 0 0 -4px;
    &-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 13px;
      &:last-of-type {
        margin-right: 0;
      }
      img {
        display: block;
      }
    }
  }
  &__graphic {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 176px;
    margin: 0 40px;
    border: 25px solid transparent;
    border-radius: 50%;
    font-size: 1rem;
    &:before {
      position: absolute;
      z-index: 1;
      top: -106px;
      left: -71.7%;
      display: block;
      content: '';
      width: 320px;
      height: 321px;
      background: url("../img/block6__graphic-underlay.png") no-repeat center center;
      background-size: cover;
    }
    &:after {
      content: '';
      position: absolute;
      top: -25px;
      left: -25px;
      width: 176px;
      height: 176px;
      border: 25px solid #f5f5f5;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &-percentage {
      position: absolute;
      top: 23px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 3.97125em;
      font-family: 'proxima_nova_rgbold', sans-serif;
      color: $color-primary;
      background: -webkit-linear-gradient(top, #5398cf, #77d6e0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:after {
        content: '\0025';
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 0.3557em;
        font-weight: bold;
        color: $color-primary;
        background: -webkit-linear-gradient(top, #7b379b, #26a9dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    svg {
      position: absolute;
      top: -25px;
      left: -25px;
      transform: rotate(-90deg);
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 25px solid #f5f5f5;
        border-radius: 50%;
      }
      circle {
        @include transition-standard(3s);
      }
    }
    &-img {
      height:187px;
      position: relative;
      z-index: 1;
    }
    &-sign {
      margin: 0px -20px;
      line-height: 1.55;
      text-align: center;
      font-size: 26px;
      color: #1b212d;
    }
  }
  @media (max-width: 1170px) {
    &__split {
      display: block;
    }
    &__graphics {
      display: block;
      padding-right: 0;
    }
    &__right {
      display: block;
      max-width: 700px;
      margin: 20px auto 0;
    }
  }
  @media (max-width: 800px) {
    padding-top: 44px;
    padding-bottom: 34px;
    &__split {
      margin-top: 0;
    }
    &__videos {
      margin-bottom: 42px;
      padding-bottom: 33px;
    }
    &__graphics {
      margin-bottom: 23px;
    }
    &__graphic {
      margin: 0 0 52px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &-sign {
        margin: 14px -20px 0;
      }
    }
    &-text-block {
      margin: 0 14px;
    }
    h1 {
      padding-bottom: 33px;
    }
  }
}
