.page_report {
  min-height: 100%;
  height: initial;
  padding: 1.1em 2.2em 3.7em;

  &__wrapper {
    height: 100%;
  }

  &__blur {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    & + .page_report {filter: blur(.6em)}
  }

  &__share-icon {
    position: absolute;
    z-index: 2;
    top: .9em;
    right: 1.25em;
  }

  &__blur-btn {
    min-height: 0;
    padding: 0;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    background: transparent;
    box-shadow: none;
    font-weight: 500;
    line-height: 1;
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
  }

  &__blur + .page_report {
    .button {
      visibility: hidden;
    }
  }


  &__heading {
    margin: 0;
    font-size: 1.3em;
  }

  &__demography {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }

  &__gender {
    display: flex;
    align-items: center;
    margin-right: 1.3em;
    font-weight: 300;
    line-height: .8;
    font-size: .8em;
    &:after {
      content: '';
      margin-left: .5em;
      background-size: contain;
    }
    &_male:after {
      width: 1.6875em;
      height: 1.75em;
      top: -.94em;
      background-image: url("./img/male.svg");
    }
    &_female:after {
      width: 1.1875em;
      height: 2em;
      background-image: url("./img/female.svg");
    }
  }

  &__age {
    display: flex;
    align-items: center;
    margin-right: 1.2em;
    font-weight: 300;
    line-height: .8;
    font-size: .8em;
    &-num {
      position: relative;
      top: -.12em;
      margin-left: .3em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  &__charts {
    display: flex;
    align-items: center;
    flex-grow: 3;
    margin: .35em -1.75em;
  }

  &__chart {
    width: calc(100%/3);
    padding: 0 .25em;
    position: relative;
  }

  .chart {
    width: 100%;
    max-width: 4.35em;
    margin: 0 auto;
  }

  &__orientation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: center;
    margin-top: .1em;
    position: relative;

    .linebar {
      margin-top: .8em;
    }

  }

  &__linebars {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    transition: 1s max-height;
    &_hidden {
      max-height: 0;
      transition-duration: .5s;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 5;
  }

  .feature {
    margin-top: .7em;
  }

  @media (max-height: 530px) {
    font-size: .9em;
  }
  @media (max-height: 485px) {
    font-size: .8em;
  }

}