.page_index {
  align-items: center;
  min-height: 100%;
  height: initial;
  padding-top: 2.55em;

  &__heading {
    max-width: 290px;
    text-align: center;
    font-weight: 500;
    line-height: 1.19;
    font-size: 1.5em;
  }

  &__subheading {
    margin-top: .5em;
    text-align: center;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 230px;
    max-height: 255px;
    margin: 1.1em auto 0;
    padding: 0;
    list-style: none;

    &-item {
      display: flex;
      align-items: center;
      margin-top: .4em;
      font-weight: 300;
    }
    &-icon {
      min-width: 46px;
      max-width: 46px;
      margin-right: 1em;
      img {
        display: block;
        margin: 0 auto;
      }
    }

  }

  &__link {
    font-size: .9em;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
  }

  &__button {
    margin-top: 1em;
  }

  &_with-charts {
    justify-content: center;
    padding-top: .5em;
  }
  &_with-charts & {

    &__readme {
      position: absolute;
      top: 1em;
      right: 1em;
      font-weight: 300;
      font-size: .8em;
      text-align: center;
      text-decoration: underline;
    }

    &__venice-photo {
      margin: 0.8em -15px 0;
      img {
        display: block;
      }
    }

    &__charts {
      display: flex;
      width: 100%;
      margin-top: .8em;

      .chart {
        width: 100%;
        max-width: 90px;
        margin: 0 auto;

        &__name {
          font-size: .5em;
        }

      }

    }

  }

  &_no-orientation & {

    &__readme {
      position: absolute;
      top: 1em;
      right: 1em;
      font-weight: 300;
      font-size: .8em;
      text-align: center;
      text-decoration: underline;
    }

    &__venice-photo {
      margin: 0.8em -15px 0;
      img {
        display: block;
      }
    }

    &__charts {
      display: flex;
      width: 100%;
      margin-top: .8em;

      .chart {
        width: 100%;
        max-width: 90px;
        margin: 0 auto;

        &__name {
          font-size: .5em;
        }

      }

    }

  }

  &_woman {
    padding-top: 1.3em;
    background: #000 url("img/woman-photo.jpg") no-repeat right bottom / auto 96%;

    @media (max-height: 500px) {
      background-size: auto 92%;
    }

  }
  &_woman & {

    &__readme {
      margin-top: .4em;
      align-self: flex-start;
      font-weight: 300;
      font-size: .8em;
      text-align: center;
      text-decoration: underline;
    }

    &__heading {
      align-self: flex-start;
      max-width: 400px;
      text-align: left;
      font-weight: 500;
      line-height: 1.2;
      font-size: 2em;
      text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    }

  }

}