.preview {
  flex-grow: 10;
  max-height: 11.7em;
  position: relative;
  background: url("./img/cat-bg.jpg") no-repeat center center / cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(137.92deg, rgba(118, 24, 193, 0.342) -2.29%, rgba(255, 56, 199, 0.45) 105.28%);
  }

  &__inner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__gender {
    position: absolute;
    left: 18px;
    bottom: 22px;
    font-weight: 300;
    line-height: .8;
    font-size: .8em;
    &:after {
      content: '';
      position: absolute;
      left: calc(100% + .4em);
      background-size: contain;
    }
    &_male:after {
      width: 1.6875em;
      height: 1.75em;
      top: -.94em;
      background-image: url("./img/male.svg");
    }
    &_female:after {
      width: 1.1875em;
      height: 2em;
      top: -.6em;
      background-image: url("./img/female.svg");
    }
  }

  &__age {
    position: absolute;
    left: 91px;
    bottom: 22px;
    font-weight: 300;
    line-height: .8;
    font-size: .8em;
    &-num {
      position: absolute;
      left: calc(100% + .4em);
      font-size: 1.5em;
      font-weight: bold;
      top: -.28em;
    }
  }

  &__flag {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 94px;
  }

}