.page_readme {
  padding: 1.5em 2em;
  background: linear-gradient(153.87deg, #6C23C8 -2.21%, #0D40C5 -2.2%, #EF59B3 106.38%);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 260px;
    min-height: 100%;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  &__heading {
    text-align: left;
    font-weight: 500;
    line-height: 1.19;
    font-size: 2.1em;
  }

  &__subheading {
    margin: .5em 0 0;
    font-weight: 500;
    line-height: 1.27;
    font-size: .9em;
  }

  &__text {
    margin: .4em 0 1em;
    font-weight: 300;
    line-height: 1.27;
    font-size: .9em;
  }

  &__bold-text {
    max-width: 210px;
    margin: 1.5em 0 0;
    font-weight: 500;
    line-height: 23px;
    font-size: 18px;
  }

  &__button {
    margin: 1em auto 0;
  }

}