.page_readme {
  padding-top: 1em;
  background: linear-gradient(153.87deg, #6C23C8 -2.21%, #0D40C5 -2.2%, #EF59B3 106.38%);
  text-align: center;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 290px;
    max-height: 366px;
    margin: 0 auto;
  }

  &__heading {
    font-weight: 500;
    line-height: 1.19;
    font-size: 1.5em;
  }

  &__subheading {
    margin: .5em 0 0;
    font-weight: 500;
    line-height: 1.27;
    font-size: .9em;
  }

  &__text {
    margin: 1.9em 0 1.1em;
    font-weight: 300;
    line-height: 1.27;
    font-size: .9em;
  }

  &__bold-text {
    margin: .8em 0 0;
    font-weight: 500;
    line-height: 1.4375;
    font-size: .8em;
  }

  &__button {
    margin: 1em auto 0;
  }

}