html {
  box-sizing: border-box;
  font-size: 20px;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
}
body {
  min-height: 100%;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}
img {
  max-width: 100%
}
h1, h2 {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 .75em 4.5em;
  overflow-y: scroll;
  position: relative;
}